wheel
numpy
pygsheets
python-dotenv
discord
praw
Flask
Flask-Admin
peewee
wtf-peewee
flask_assets
flask_table
flask_wtf
gunicorn
connexion[swagger-ui]
flask-marshmallow
mmh3
deepdiff
marshmallow_peewee
flask_cors