{% extends 'base.html' %}

{% block title %}
Teams
{% endblock %}

{% block content %}

    <div class="container">
      <h1>Teams</h1>
      <hr />
      <div class="card-deck">
        <div class="row">
          {% for team in team_list[0:4] %}
          <div class="card my-2">
            <a href="/teams/{{ team.Team_Abbr }}">
              <img class="card-img-top p-3" src={{ url_for('teams_bp.static',filename=(team.Team_Abbr + "_Logo.png")) }} alt="{{ team.Team_Abbr }}" style="object-fit: contain" height="200rem" />
            </a>
            <div class="card-body"></div>
            <div class="card-footer text-center">{{ team.Team_Name }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          {% for team in team_list[4:8] %}
          <div class="card my-2">
            <a href="/teams/{{ team.Team_Abbr }}">
              <img class="card-img-top p-3" src={{ url_for('teams_bp.static',filename=(team.Team_Abbr + "_Logo.png")) }} alt="{{ team.Team_Abbr }}" style="object-fit: contain" height="200rem" />
            </a>
            <div class="card-body"></div>
            <div class="card-footer text-center">{{ team.Team_Name }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          {% for team in team_list[8:12] %}
          <div class="card my-2">
            <a href="/teams/{{ team.Team_Abbr }}">
              <img class="card-img-top p-3" src={{ url_for('teams_bp.static',filename=(team.Team_Abbr + "_Logo.png")) }} alt="{{ team.Team_Abbr }}" style="object-fit: contain" height="200rem" />
            </a>
            <div class="card-body"></div>
            <div class="card-footer text-center">{{ team.Team_Name }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          {% for team in team_list[12:16] %}
          <div class="card my-2">
            <a href="/teams/{{ team.Team_Abbr }}">
              <img class="card-img-top p-3" src={{ url_for('teams_bp.static',filename=(team.Team_Abbr + "_Logo.png")) }} alt="{{ team.Team_Abbr }}" style="object-fit: contain" height="200rem" />
            </a>
            <div class="card-body"></div>
            <div class="card-footer text-center">{{ team.Team_Name }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


{% endblock %}
