{% extends 'base.html' %}

{% block title %}
{{game.Game_ID}}
{% endblock %}

{% block content %}

    <div class="container">
      <h3>Season {{game.Season}} Session {{game.Session}}: {{game.Away.Team_Abbr}} @ {{game.Home.Team_Abbr}}</h3>
      <hr />
        <div class="row">
            <div class="col">
                <h2 class="text-center">
                    {{game.Away.Team_Abbr}} {{game.A_Score}} - {{game.H_Score}} {{game.Home.Team_Abbr}} | {{game.Inning}}
                </h2>
                <img class="mx-auto img-fluid d-block" src={{ url_for('games_bp.static',filename=("outs_" ~ game.Outs ~ ".png")) }} />
                <img class="mx-auto img-fluid d-block" src={{ url_for('games_bp.static',filename=("brc_" ~ brc ~ ".png")) }} />
            </div>
        </div>
    </div>

{% include 'boxscore.html' %}

{% include 'play_list.html' %}

{% endblock %}
