{% extends 'base.html' %}

{% block title %}
{{player.Player_Name}}
{% endblock %}

{% block content %}

    <div class="container">
      <h1>{{player.Player_Name}}</h1>
      <hr />
        <div class="table-responsive-sm">
          <table class="table table-striped table-hover table-sm table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Hand</th>
                <th>PPos</th>
                {%  if player.PPos != 'P' %}
                <th>SPos</th>
                <th>CON</th>
                <th>EYE</th>
                <th>POW</th>
                <th>SPE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{player.Hand}}</td>
                <td>{{player.PPos}}</td>
                <td>{{player.SPos}}</td>
                <td>{{player.Contact}}</td>
                <td>{{player.Eye}}</td>
                <td>{{player.Power}}</td>
                <td>{{player.Speed}}</td>
              </tr>
                {%  else %}
                <th>MOV</th>
                <th>COM</th>
                <th>VEL</th>
                <th>AWA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{player.Hand}}</td>
                <td>{{player.PPos}}</td>
                <td>{{player.Movement}}</td>
                <td>{{player.Command}}</td>
                <td>{{player.Velocity}}</td>
                <td>{{player.Awareness}}</td>
              </tr>
            </tbody>
                {% endif %}
          </table>
      </div>
    </div>


{% endblock %}