        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <ul class="list-group mb-3">
              {% for field in [form.status, form.pitch, form.swing] %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{field.label}}:</h6>
                </div>
                <span class="clearfix">{{ field }}</span>
              </li>
              {% endfor %}
            </ul>
          <input type="button" value="Random Swing" onclick="RandomSwing();" />
          </div>
          <div class="col-md-4 order-md-2 mb-4">
            <ul class="list-group mb-3">
              {% for field in [form.runner, form.r_steal, form.c_throw] %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{field.label}}:</h6>
                </div>
                <span class="clearfix">{{ field }}</span>
              </li>
              {% endfor %}
            </ul>
          <input type="button" value="Random Steal" onclick="RandomSteal();" />
          </div>
        </div>