{% extends 'base.html' %}

{% block title %}
{{game.Game_ID}} Management
{% endblock %}

{% block content %}

    <div class="container-fluid">
      <h3>Season {{game.Season}} Session {{game.Session}}: {{game.Away.Team_Abbr}} @ {{game.Home.Team_Abbr}}</h3>
      <hr />
      <form id="status-form" action="" method="POST" role="form">
      <div class="row">
          <div class="col-3">
            {% for field in [form.ump_mode, form.status] %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{field.label}}:</h6>
              </div>
              <span class="clearfix">{{ field }}</span>
            </li>
            {% endfor %}
          </div>
          <div class="col-4">
              <h2 class="text-center">
                  {{game.Away.Team_Abbr}} {{game.A_Score}} - {{game.H_Score}} {{game.Home.Team_Abbr}} | {{game.Inning}}
              </h2>
                <img class="mx-auto img-fluid d-block" src={{ url_for('games_bp.static',filename=("outs_" ~ game.Outs ~ ".png")) }} />
                <img class="mx-auto img-fluid d-block" src={{ url_for('games_bp.static',filename=("brc_" ~ brc ~ ".png")) }} />
          </div>
      </div><hr />
      {% if game.Status == 'Staged' %}
      <a href="/games/manage/{{game.Game_Number}}/init">Initialize Lineups</a><br />
      {% elif game.Status == 'Init'%}
      <a href="/games/manage/{{game.Game_Number}}/lineups">Manage Lineup</a><br />
      <button class="btn-drk" type="button" id="gameStart">
        <a href="/games/manage/{{game.Game_Number}}/start">Start Game</a>
      </button>
      {% elif game.Status == 'Started' %}
      <a href="/games/manage/{{game.Game_Number}}/lineups">Manage Lineup</a><br />
      {% elif game.Status == 'Final' %} Game Over!<br />
      {% endif %}
      {{ form.hidden_tag() }}
      {% if game.Status == 'Started' %}
        {% if game.Step == 1 %}
        {% include 'manage/step_one.html' %}
        {% elif game.Step == 2 %}
        {% include 'manage/step_two.html' %}
        {% elif game.Step == 3 %}
        {% include 'manage/step_three.html' %}
        {% endif %}
      {% endif %}
      </form><br />


{% include 'boxscore.html' %}

{% include 'play_list.html' %}
<script>
function getRndInteger(min, max) {
  return Math.floor(Math.random() * (max - min + 1) ) + min;
}
function RandomSwing() {
        var rnd1 = getRndInteger(1,1000);
        var rnd2 = getRndInteger(1,1000);
        document.getElementById('pitch').value = rnd1;
        document.getElementById('swing').value = rnd2;
    }
function RandomSteal() {
        var rnd1 = getRndInteger(1,1000);
        var rnd2 = getRndInteger(1,1000);
        document.getElementById('r_steal').value = rnd1;
        document.getElementById('c_throw').value = rnd2;
    }
</script>
<script src="{{ url_for('.static', filename='js/ranges.js') }}"></script>

{% endblock %}