        <div class="row">
          {% if game.Situation == None %}
          <div class="col">
            <h5 class="my-1">Pitch/Swing/Steal</h5>
            <ul class="list-group mb-3">
              {% for field in [form.pitch, form.swing, form.runner, form.r_steal, form.c_throw] %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{field.label}}:</h6>
                </div>
                <span class="clearfix">{{ field }}</span>
              </li>
              {% endfor %}
            </ul>
          <input type="button" value="Random Swing" onclick="RandomSwing();" />
          <input type="button" value="Random Steal" onclick="RandomSteal();" /><br />
          <button class="btn btn-light" type="button">Preview Swing Result</button><br />
          </div>
          {% else %}
          <div class="col">
            <h5 class="my-1">Timer Expired; Auto!</h5><br />
            {% for subfield in form.auto_options %}
              <label class="btn btn-outline-secondary">{{ subfield }}{{ subfield.label }}</label>
            {% endfor %}
          </div>
          {% endif %}
          <div id="flavor" class="col">
            <h5 class="my-1">Play Writeup Flavor</h5>
            <div class="form-group form-group-lg">
              <textarea class="form-control input-lg" id="ump_flavor" name="ump_flavor" placeholder="Optional flavor for the play" rows=4></textarea>
            </div>
            <h5 class="my-1">Batter Submitted Flavor</h5>
            <div class="form-group form-group-lg">
              <textarea class="form-control input-lg" id="b_flavor" name="b_flavor" placeholder="{{game.B_Flavor}}" rows=4></textarea>
            </div>
          </div>
          <div id="results_div" class="col"></div>
        </div><br />
        <input type="submit" value="Submit numbers and calculate play result">
