{% extends 'base.html' %}

{% block title %}
{{team.team_name}}
{% endblock %}

{% block content %}

    <div class="container">
      <h1>{{team.Team_Name}}</h1>
      <hr />
        <h3 class="mt-4">Roster</h3>
        <hr />
        <div class="table-responsive-sm">
          <table class="table table-striped table-hover table-sm table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Player</th>
                <th>Hand</th>
                <th>PPos</th>
                <th>SPos</th>
                <th>CON</th>
                <th>EYE</th>
                <th>POW</th>
                <th>SPE</th>
                <th>MOV</th>
                <th>COM</th>
                <th>VEL</th>
                <th>AWA</th>
              </tr>
            </thead>
            <tbody>
            {% for player in roster %}
              <tr>
                <td>{{player.Player_Name}}</td>
                <td>{{player.Hand}}</td>
                <td>{{player.PPos}}</td>
                <td>{{player.SPos}}</td>
                <td>{{player.Contact}}</td>
                <td>{{player.Eye}}</td>
                <td>{{player.Power}}</td>
                <td>{{player.Speed}}</td>
                <td>{{player.Movement}}</td>
                <td>{{player.Command}}</td>
                <td>{{player.Velocity}}</td>
                <td>{{player.Awareness}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>


{% endblock %}
