{% extends 'base.html' %}

{% block title %}
{{game.Game_ID}} Management
{% endblock %}

{% block content %}

    <div class="container">
      <h3>Season {{game.Season}} Session {{game.Session}}: {{game.Away.Team_Abbr}} @ {{game.Home.Team_Abbr}}</h3>
      <hr />
      <div class="row">
          <div class="col">
              <h2 class="text-center">
                  {{game.Away.Team_Abbr}} {{game.A_Score}} - {{game.H_Score}} {{game.Home.Team_Abbr}} | {{game.Inning}}
              </h2><hr />
          </div>
      </div>
      <div class="row">Game Status: {{game.Status}}</div>
      {% if game.Status == 'Staged' %}
      <a href="/games/manage/{{game.Game_Number}}/init">Initialize Lineups</a><br />
      {% elif game.Status == 'Init'%}
      <a href="/games/manage/{{game.Game_Number}}/lineups">Manage Lineup</a><br />
      <button class="btn-drk" type="button" id="gameStart">
        <a href="/games/manage/{{game.Game_Number}}/start">Start Game</a>
      </button>
      {% elif game.Status == 'Started' %}
      <a href="/games/manage/{{game.Game_Number}}/lineups">Manage Lineup</a><br />
      {% elif game.Status == 'Final' %} Game Over!
      {% endif %}
{% include 'boxscore.html' %}

{% endblock %}